body {
	background-image: url("../images/sw.jpg");
	color: #000000;
	font-family: 'Inconsolata';
}
header {
	font-size: 50px;
	text-align: center;
	padding: 20px;
	color: #ffffff;
}
.characterWrapper {
	width: 100%;
}

.characters{
	width: 25%;
	float: left;
}


.characters img {
	width: 40%;
	border: 0 none;
}
.characters h3 {
	border-bottom: 0;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 15px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}
